* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile generale */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    color: #333;
    cursor: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%20width%3D%2220%22%20height%3D%2220%22%3E%3Cpath%20fill%3D%22%23FF0000%22%20d%3D%22M224%20112c-8.8%200-16-7.2-16-16l0-16c0-44.2%2035.8-80%2080-80l16%200c8.8%200%2016%207.2%2016%2016l0%2016c0%2044.2-35.8%2080-80%2080l-16%200zM0%20288c0-76.3%2035.7-160%20112-160c27.3%200%2059.7%2010.3%2082.7%2019.3c18.8%207.3%2039.9%207.3%2058.7%200c22.9-8.9%2055.4-19.3%2082.7-19.3c76.3%200%20112%2083.7%20112%20160c0%20128-80%20224-160%20224c-16.5%200-38.1-6.6-51.5-11.3c-8.1-2.8-16.9-2.8-25%200c-13.4%204.7-35%2011.3-51.5%2011.3C80%20512%200%20416%200%20288z%22%2F%3E%3C%2Fsvg%3E") 10 10, auto;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

/* Stile per i link */
a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Stile aggiornato per la nav bar */
nav {
    background-image: url('/immagine-gocce.png');
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347;
}

.cursor-pointer {
    cursor: pointer;
    position: relative;
}

.cursor-default {
    cursor: default;
    /* position: relative; */
}

.isBest {
    background-color: rgba(0, 255, 0, .5);
}